#
# Shorewall -- /etc/shorewall/rules
#
# For information on the settings in this file, type "man shorewall-rules"
#
# The manpage is also online at
# http://www.shorewall.net/manpages/shorewall-rules.html
#
##############################################################################################################################################################
#ACTION         SOURCE          DEST            PROTO   DPORT   SPORT   ORIGDEST        RATE    USER    MARK    CONNLIMIT       TIME    HEADERS SWITCH  HELPER

?SECTION ALL
?SECTION ESTABLISHED
?SECTION RELATED
?SECTION INVALID
?SECTION UNTRACKED
?SECTION NEW

# NET -> FW
ACCEPT net $FW 17 $WG_BINDING
SSH(ACCEPT) net:$NET_WHITELIST $FW

# WG -> FW
ACCEPT wg $FW icmp
DNS(ACCEPT) wg $FW
SSH(ACCEPT) wg:10.150.0.10 fw

ACCEPT wg:10.150.0.10 l0 icmp

# WG -> WG
ACCEPT wg:10.150.0.8/30 wg:10.150.0.0/30 6 8291,22322,443

ACCEPT wg:10.150.0.8/30 wg:10.150.0.0/30 icmp
ACCEPT wg:10.150.0.8/30 wg:10.0.20.0/28 icmp
ACCEPT wg:10.150.0.8/30 wg:10.150.0.4/30 icmp

SSH(ACCEPT) wg:10.150.0.8/30 wg:10.0.20.0/28
SSH(ACCEPT) wg:10.150.0.8/30 wg:10.150.0.4/30

# HA -> FW
ACCEPT ha fw 1
VRRP(ACCEPT) ha fw
