#
# Shorewall -- /etc/shorewall/rules
#
# For information on the settings in this file, type "man shorewall-rules"
#
# The manpage is also online at
# http://www.shorewall.net/manpages/shorewall-rules.html
#
##############################################################################################################################################################
#ACTION         SOURCE          DEST            PROTO   DPORT   SPORT   ORIGDEST        RATE    USER    MARK    CONNLIMIT       TIME    HEADERS SWITCH  HELPER

?SECTION ALL
?SECTION ESTABLISHED
?SECTION RELATED
?SECTION INVALID
?SECTION UNTRACKED
?SECTION NEW


ACCEPT net fw 17 $WG_BINDING

SSH(ACCEPT) net:$NET_WHITELIST fw

ACCEPT $WG_ZONE fw icmp
DNS(ACCEPT) $WG_ZONE fw

ACCEPT $WG_ZONE:$WG2_NET $WG_ZONE:$WG0_NET icmp
ACCEPT $WG_ZONE:$WG2_NET $WG_ZONE:$WG1_NET icmp
ACCEPT $WG_ZONE:$WG1_NET $WG_ZONE:$WG2_NET icmp

SSH(ACCEPT) $WG_ZONE:10.150.0.10 fw
SSH(ACCEPT) $WG_ZONE:$WG2_NET $WG_ZONE:10.0.20.0/28
SSH(ACCEPT) $WG_ZONE:$WG2_NET $WG_ZONE:$WG1_NET

ACCEPT $WG_ZONE:$WG2_NET $WG_ZONE:$WG0_NET 6 8291,22322,443

ACCEPT ha fw 1
VRRP(ACCEPT) ha fw
