#ACTION         SOURCE          DEST            PROTO   DEST    SOURCE          ORIGINAL        RATE            USER/   MARK
#                                                       PORT    PORT(S)         DEST            LIMIT           GROUP

#SECTION ESTABLISHED
#SECTION RELATED
?SECTION NEW

ACCEPT net fw 1
SSH(ACCEPT) net fw

ACCEPT ha fw 1,112
SSH(ACCEPT) ha fw

#LAST LINE -- DO NOT REMOVE
